
<div class="Header">
    <div class="PageName">
        <p>Carousel</p>
    </div>
    <div class="AddFunction">
        <div class="popupModule">
            <!-- Button trigger modal -->
            <button type="button" class="btn module-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                Add Carousel
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Carousel</h1>
                            <button type="button" class="btn-close " data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div>
                                    <label for="CarouselHeader">Header</label>
                                    <input type="text" class="CarouselHeader">
                                </div>
                                <div>
                                    <label for="Image">Select Image</label>
                                    <button onclick="document.getElementById('getFile').click()">Select an
                                        Image<br>+</button>
                                    <input type='file' id="getFile" style="display:none" name="img">
                                    <!-- <input type="file" id="img" name="img" accept="image/*" class="BackgroundImage" placeholder="Hellowww"> -->
                                </div>
                                <div>
                                    <label for="EventDetail">Event Detail</label>
                                    <input type="text" class="EventDetail">
                                    <!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="DataTable">
    <table>
        <thead class="head">
            <tr class="TableHeader">
                <th>IMAGE</th>
                <th>NAME</th>
                <th>CREATED ON</th>
                <th>CREATED BY</th>
                <th>MODIFIED ON</th>
                <th>MODIFIED BY</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tr>
            <td><img src="assets/images/usersquare.svg" alt=""></td>
            <td>Carousel Name</td>
            <td>12/12/2022</td>
            <td>Shubham Todankar</td>
            <td>13/12/2022</td>
            <td>Pankag Vishwakarma</td>
            <td>
                <div class="actions">
                    <div class="Edit">
                        <div class="AddFunction">
                            <div class="popupModule">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn module-button" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop3">
                                    <img src="assets/images/Edit.svg" alt="">
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Carousel</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="">
                                                    <div>
                                                        <label for="CarouselHeader">Header</label>
                                                        <input type="text" class="CarouselHeader">
                                                    </div>

                                                    <div>
                                                        <label for="Image">Select Image</label>
                                                        <button
                                                            onclick="document.getElementById('getFile').click()">Select
                                                            an Image<br>+</button>
                                                        <input type='file' id="getFile" style="display:none" name="img">
                                                        <!-- <input type="file" id="img" name="img" accept="image/*" class="BackgroundImage" placeholder="Hellowww"> -->
                                                    </div>
                                                    <div>
                                                        <label for="EventDetail">Event Detail</label>
                                                        <input type="text" class="EventDetail">
                                                        <!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="Delete"><img src="assets/images/Delete.svg" alt=""></button>
                    <input type="checkbox" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="To Display Content on Frontend">
                </div>
            </td>
        </tr>
        <tr>
            <td><img src="assets/images/usersquare.svg" alt=""></td>
            <td>Carousel Name</td>
            <td>12/12/2022</td>
            <td>Shubham Todankar</td>
            <td>13/12/2022</td>
            <td>Pankag Vishwakarma</td>
            <td>
                <div class="actions">
                    <div class="Edit">
                        <div class="AddFunction">
                            <div class="popupModule">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn module-button" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop3">
                                    <img src="assets/images/Edit.svg" alt="">
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Carousel</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="">
                                                    <div>
                                                        <label for="CarouselHeader">Header</label>
                                                        <input type="text" class="CarouselHeader">
                                                    </div>

                                                    <div>
                                                        <label for="Image">Select Image</label>
                                                        <button
                                                            onclick="document.getElementById('getFile').click()">Select
                                                            an Image<br>+</button>
                                                        <input type='file' id="getFile" style="display:none" name="img">
                                                        <!-- <input type="file" id="img" name="img" accept="image/*" class="BackgroundImage" placeholder="Hellowww"> -->
                                                    </div>
                                                    <div>
                                                        <label for="EventDetail">Event Detail</label>
                                                        <input type="text" class="EventDetail">
                                                        <!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="Delete"><img src="assets/images/Delete.svg" alt=""></button>
                    <input type="checkbox" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="To Display Content on Frontend">
                </div>
            </td>
        </tr>
    </table>
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>



