<p-table #dt1 responsiveLayout="stack" [value]="allRegister" dataKey="id" [rows]="5"
                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]"
                        styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                       
                        <ng-template pTemplate="caption" >
                            <div class="temp">
                            <div class="admintitlebtn">
                            <h2>Admin List</h2>
                        </div>
                        <div class="adminbtn">
                           <a href="/admindashboard"><button pButton type="button">LogOut</button></a>
                        </div>
                    </div>
                        </ng-template>
                    
                        <ng-template pTemplate="header">
                            <tr>
                               <th>Name</th>
                               <th>Designation</th>
                               <th>Email</th>
                               <th>Control</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-allRegister>
                           
                            <tr>
                                <td>

                                    {{allRegister.name}}
                                </td>
                                <td>{{allRegister.designation}}</td>
                                <td>{{allRegister.email}}</td>

                                <td><span class="p-column-title">Options</span>
                                    <div class="editGrp">
                                        <!-- <div class="edit">
                                            <button (click)="recoverClass(classData)">Edit</button>
                                        </div> -->
                                        <div class="delete">
                                            <button (click)="deleteClass()">Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="7">No customers found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
