<breadcrumb #parent>
    <ol class="breadcrumb">
     <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
        <li *ngIf="!route.terminal" class="breadcrumb-item">
<a href="" [routerLink]="[route.url]">{{route.displayName}}</a>
        </li>
        <li *ngIf="route.terminal" class="breadcrumb-item active">{{route.displayName}}</li>

     </ng-template>
    </ol>
</breadcrumb>
<div class="Header">
    <div class="PageName">
        <p>Placement</p>
    </div>
    <div class="AddFunction">
        <div class="popupModule">
            <!-- Button trigger modal -->
            <button (click)="AddFlag('add')" type="button" class="btn module-button" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop2" >
                Add Placement
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel" *ngIf="AddPlacement">Add Placement</h1>
                            <h1 class="modal-title fs-5" id="staticBackdropLabel" *ngIf="EditPlacement">Edit Placement</h1>
                            <button id="cancel" type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" [formGroup]="formValue">
                                <div formGroupName="ResearchDetails">
                                    <ng-container formArrayName="0"> 
                                    <label for="PlacementHeader">Name</label>
                                    <input type="text" formControlName="name" class="PlacementHeader"
                                        placeholder="Enter name">
                                    </ng-container>
                                </div>
                                
                                <div formGroupName="background">
                                    <ng-container formArrayName="0"> 
                                        <label for="PlacementHeader">Background Url</label>
                                    <input type="text" formControlName="url" class="PlacementHeader"
                                    placeholder="Enter Background url">
                                </ng-container>
                            </div>

                            
                            <div formGroupName="background">
                                <ng-container> 
                                    <label for="PlacementHeader">Image Alt</label>
                                    <input type="text" formControlName="imageAlt" class="PlacementHeader"
                                    placeholder="Enter Background alt">
                                </ng-container>
                            </div>

                            <div formGroupName="innerData">
                                <ng-container formArrayName="0"> 
                                <label for="PlacementHeader">Post </label>
                                <input type="text" formControlName="post"
                                    class="PlacementHeader" placeholder="Enter post">
                                </ng-container>
                            </div>
                            <div formGroupName="innerData">
                                <ng-container formArrayName="0"> 
                                <label for="PlacementHeader">Faculty Name </label>
                                <input type="text" formControlName="facultyName"
                                    class="PlacementHeader" placeholder="Enter Faculty Name">
                                </ng-container>
                            </div>
                               
                            </form>
                        </div>
                         <div class="modal-footer" *ngIf="AddPlacement">
                            <button type="button" (click)="postPlacementData()" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button>
                        </div>
                         <div class="modal-footer" *ngIf="EditPlacement">
                            <button (click)="update()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="DataTable">
    
    <table>
        <thead class="head">
            <tr class="TableHeader">
                <th>NAME</th>
                <th>CREATED ON</th>
                <th>CREATED BY</th>
                <th>MODIFIED ON</th>
                <th>MODIFIED BY</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tr *ngFor="let item of allPlacementDatas">
            <!-- <td *ngIf="item.imageResearch"><img [src]="item.imageResearch[0].url" [alt]="item.imageResearch[0].alt"></td> -->
            <!-- {{item | json}} -->
            <td>{{item.placementData[0].name}}</td>
            <td>{{item.createdAt | date:"dd/MM/yyyy"}}</td>
            <td></td>
            <td>{{item.updatedAt | date:"dd/MM/yyyy"}}</td>
            <td></td>
            <td>
                <div class="actions">
                    <button (click)="AddFlag('edit')" (click)="editPlacementData(item)" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop2"  class="btn module-button">
                    <img src="assets/images/Edit.svg" alt="">
                </button>
                    <div class="Delete">
                        <div class="AddFunction">
                            <div class="popupModule">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn module-button" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                    <img src="assets/images/Delete.svg" alt="">
                                </button>   

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Warning!</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you shure you want to Delete this?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal" (click)="deletePlacementData(item)">YES</button>
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal" id="donotdelte">NO</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <input type="checkbox" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="To Display Content on Frontend">
                </div>
            </td>
        </tr>
    </table>
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>