<div class="dashboard">
    <div class="left">
        <div class="sidebar">
            <div class="logo">
                <img src="assets/images/Chetana Logo.svg" alt="">
            </div>
            <div class="menu">
                <button type="button" class="btn btn-secondary" aria-expanded="false">
                    Dashboard
                  </button>
                  <div class="btn-group dropend">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Home
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="">Carousel</a></li>
                        <li><a href="">Adout Chetana</a></li>
                        <li><a href="">Academics</a></li>
                        <li><a href="">Our Campus</a></li>
                        <li><a href="">Testimonials</a></li>
                    </ul>
                  </div>
                  <div class="btn-group dropend">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >
                      Pages
                    </button>
                    
                    <ul class="dropdown-menu">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              Home
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="">Carousel</a></li>
                        <li><a href="">Adout Chetana</a></li>
                        <li><a href="">Academics</a></li>
                        <li><a href="">Our Campus</a></li>
                        <li><a href="">Testimonials</a></li>
                            </ul>
                      <li><a href="">About</a></li>
                      <li><a href="">Courses</a></li>
                      <li><a href="">Examination</a></li>
                      <li><a href="">Admimition</a></li>
                      <li><a href="">Placement</a></li>
                      <li><a href="">Research</a></li>
                      <li><a href="">Student Corner</a></li>
                    </ul>
                  </div>

                  
                  <div class="btn-group dropend">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Notices
                    </button>
                    <ul class="dropdown-menu">
                        <a href="">menu links</a> 
                    </ul>
                  </div>
                  <div class="btn-group dropend">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Inbox
                    </button>
                    <ul class="dropdown-menu">
                        <a href="">Dropdown menu links</a>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
    <div class="right">
        <header>
           <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/images/message2.svg" alt="">
                </button>
                <ul class="dropdown-menu">
                  <li><a href="">Message</a></li>
                  <li><a href="">LogOut</a></li>
                </ul> 
              </div>
            <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/images/usersquare.svg" alt="">
                </button>
                <ul class="dropdown-menu">
                  <li><a href="">Profile</a></li>
                  <li><a href="">LogOut</a></li>
                </ul>
            </div>
        </header>
    </div>
</div>
