/* You can add global styles to this file, and also import other style files */
.breadcrumb{
    margin-left: 1rem;
}
.DataTable{
    margin-top: 4rem;
}
.p-button-danger , #edit{
    border-radius: 25px;
}